.aUserImage, #currentUserImage{
    height:40px;
    width:40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}


/*Uploader*/

#uploadBox {
    margin: 5px 0px;
}

#uploadProgress{
    border: 1px solid black;
}

#dropzoneContainer {
  margin-bottom: 3rem; }

.dropzone {
   outline: 2px dashed #0087F7; 
   background: #ace1f0; 
   transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.dropzone.is-dragover{
    outline-offset:-15px;
    background: #c8dadf
}

.dropzone .dz-message {
    font-weight: 400; 
}

.dropzone .dz-message .note {
      font-size: 0.8em;
      font-weight: 200;
      display: block;
      margin-top: 1.4rem; 
}

/*Full Screen Detail View */

#opacityOverlay{
    height: 100%;
    width: 100%;
    background: #00000091;
    z-index: 100;
    top: 0%;
    left:0%;
    position: fixed;
}

#dismissX{
    font-size: xx-large;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0%;
    color: white;
}

#fullScreenDisplay {
    background: white;
    padding: 0% 2% 0% 0%;
    position: fixed;
    z-index: 120;
    width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    /* Centering */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#fullScreenUserHeaderSection{
    height: 10%;
    margin-top: 0%;
    /* outline: 3px red solid; */
    align-items: center;
}

#fullScreenCommentContainer{
    /* outline:2px blue solid; */
}

#fullScreenUserCommentsSection{
    margin-left: 2px;
    overflow-x: hidden;
    overflow-y:  scroll;
    padding-right: 7px;
    height: 60%;
}

#commentList{
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    /* outline: 1px red solid;
    background: blue; */
}

#fullScreenNewCommentsSection{
    height: 10%;
    /* background: aqua; */
}

#newCommentTextArea{
    /* width: 74%; */
    /* height: 100%; */
    display: block;
    /* padding: 0px 5px; */
    /* margin: auto 0; */
    margin-left: 12px;
    /* margin-right: auto; */
}

.commentUserName{
    cursor:pointer;
    font-weight: 900;
    padding-right: 5px;
}
.commentContents{
    
}
.commentItem{
    margin-bottom:5px;
}


.hidden{
    visibility: hidden;
}


/* Gallery template CSS */

.imgContainer img{
    width:100%;
}

.imgContainer{
    margin: 5px 0px;
    padding:2%;
}

.imgControls.row{
    position: absolute;
    top: 50%;
    width: 100%;
    background: #07080894;   
    border-radius:5px;
    padding:5px;
    opacity: 0;
    transition: 2s opacity;
}

.imgControls.row:hover{
    opacity: 1;
}

.imgControls.row .btn-default{
    /* background: radial-gradient(#ffffff, #969696, #484848); */
    background: #4496df9c;
    outline: none;
    color: white; /* for fontawesome icon*/
    transition: 1.5s outline;
    
}

.imgControls.row  .btn-default:hover{
    outline: 2px solid white;
}

