/*Uploader*/

#uploadBox {
    margin: 5px 0px;
}

#uploadProgress{
    border: 1px solid black;
}

#dropzoneContainer {
  margin-bottom: 3rem; }

.dropzone {
   outline: 2px dashed #0087F7; 
   background: #ace1f0; 
   transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.dropzone.is-dragover{
    outline-offset:-15px;
    background: #c8dadf
}

.dropzone .dz-message {
    font-weight: 400; 
}

.dropzone .dz-message .note {
      font-size: 0.8em;
      font-weight: 200;
      display: block;
      margin-top: 1.4rem; 
}

/*Gallery template CSS*/

#opacityOverlay{
    height: 100%;
    width: 100%;
    background: #16151536;
    z-index: 100;
    top: 0%;
    left:0%;
    position: fixed;
}

#fullScreenDisplay {
    background: white;
    padding: 3%;
    position: fixed;
    z-index: 120;
    height: 100%;
    width: 70%;
    overflow: scroll;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0;
}

.hidden{
    visibility: hidden;
}


.imgContainer img{
    width:100%;
}

.imgContainer{
    margin: 5px 0px;
    padding:2%;
}

.imgControls.row{
    position: absolute;
    top: 50%;
    width: 100%;
    background: #07080894;   
    border-radius:5px;
    padding:5px;
    opacity: 0;
    transition: 2s opacity;
}

.imgControls.row:hover{
    opacity: 1;
}

.imgControls.row .btn-default{
    /* background: radial-gradient(#ffffff, #969696, #484848); */
    background: #4496df9c;
    outline: none;
    color: white; /* for fontawesome icon*/
    transition: 1.5s outline;
    
}

.imgControls.row  .btn-default:hover{
    outline: 2px solid white;
}

